<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- Based on the id passed in the TestEmployeeByUsingBeanFactory corresponding
        bean gets executed -->

    <bean id="emp1" class="com.tutorial.Employee">

    </bean>

    <bean id="emp2" class="com.tutorial.Employee">
        <property name="name" value="Arpan"></property>
        <property name="empID" value="22"></property>
        <constructor-arg ref="address"/>
    </bean>

    <bean id="address" class="com.tutorial.Address">
        <property name="Street"  value="Shyamnagar"></property>
        <property name="houseNo" value="51"></property>
    </bean>

    <!-- Constructor Setting up 1 -->
    <bean id="addConst1" class="com.tutorial.Address">
        <constructor-arg type="java.lang.String" value="Shyamnagar" />
        <constructor-arg type="int" value="51"/>
    </bean>

    <!-- Constructor Setting up 2-->
    <bean id="addConst2" class="com.tutorial.Address">
        <constructor-arg index="0" value="Shyamnagar" />
        <constructor-arg index="1" value="51"/>
    </bean>


</beans>